# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm / IntelliJ
.idea/

# Logs
*.log

# Environment variables
.env

# Build artifacts
dist/
build/
*.egg-info/
